* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-transform: capitalize;
}

section {
    background-image: url(../image/backgroun.jfif);
    width: 100%;
    height: 100lvh;
    background-size: cover;
    display: grid;
    place-items: center;
}

section .container {
    background-color: #ffff;
    display: grid;
    grid-template-columns: 330px 1fr ;
    width: 70%;
}

section .container .box-right {
    border-right: 3px solid #ccc;
    padding-bottom: 50px;
}

section .container .box-right .search {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
    margin-bottom: 20px;

}

section .container .box-right .search > input {
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #ccc;
}

section .container .box-right .search > i {
    width: 40px;
    height: 40px;
    background-color: #00b0ff;
    display: grid;
    place-items: center;
    color: #ffff;
    border-radius: 50%;
}
section .container .box-right > div:not(:first-child){
    display: flex;
    width: 100%;
    gap: 5px;
    margin-bottom: 20px;
    padding: 20px;
    
}
section .container .box-right .image {
    width: 50px;
    height: 50px;
}

section .container .box-right .image img {
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 50%;
    background-size: cover;
}

section .container .box-right div:not(:first-child) .info  {
    display: block;
    width: 150px;
}

section .container .box-right div:not(:first-child).info span {
    font-size: 13px;
    color: #777;
}

section .container .box-right .date {
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    color: #777;
}

section .container .box-left {
    display: grid;
    align-items: end;
    grid-template-rows: 32px 1fr auto;
}

section .container .box-left > p {
    width: 100%;
    padding: 10px;
    background-color: #ccc;
    font-size: 15px;
    font-weight: bold;
    align-self: flex-start;
}

section .container .box-left > p span {
    font-size: 13px;
    color: #777;
}

section .container .box-left > div {
padding: 20px;
color: #ffff;
align-self: flex-end;
}

section .container .box-left > div .left {
    width: fit-content;
    background-color: #00b0ff;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

section .container .box-left > div .left::before {
    position: absolute;
    content: "";
    border-width: 4px;
    border-style: solid;
    border-color: transparent #00b0ff transparent transparent;
    top: 50%;
    transform: translatey(-50%);
    left: -7px;
}

section .container .box-left > div .right {
    background-color: #ccc;
    color: #000;
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
    justify-self:right;
    margin-left: auto;
    position: relative;
}

section .container .box-left > div .right::before {
    position: absolute;
    content: "";
    border-width: 4px;
    border-style: solid;
    border-color: transparent  transparent transparent #ccc;
    top: 50%;
    transform: translatey(-50%);
    right: -7px;
}

section .container .box-left   .tool {
    background-color: #ccc;
    height: fit-content;
    display: flex;
    margin: 20px;
    justify-content: space-between;
    border-radius: 10px;
    cursor: pointer;
}


section .container .box-left   .tool i {
    margin-right: 5px;
}

.drake {
    background-color: #00b0ff;
    color: #ffff;
}

.drake .info span,
.drake .date {
    color: #ffff !important;
}
